.wrapper {
  background: pink;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Mystery Quest';
  font-size: 35px;
}

.container {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 15px;
  background: black;
  margin: 20px;
  width: 50%;
  height: 50%;
  border-radius: 3%;
}