.div-puzzle-one {
  height: 100%;
  width: 100%;
  /* background: white; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.div-footer {
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-hint {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.div-submit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

input {
  border-radius: 3px;
  font-size: 15px;
}